header{
  margin: 1em 0 1em 0;
}

ul#pantry {}

li {
  float: left;
  display: block;
  width: 2.5em;
  padding: .1em 2.2em 0 0;
  size: 5em;
}

li img {
  width:2em;
  height: auto;
}

div.leftcontainer {
  background-color: yellow;
}

div.rightcontainer {
  background-color: orange;
}
